html {
  margin: 0;
  padding: 0; }

body {
  background-color: #232323;
  margin: 0;
  font-family: "Avenir";
  color: white;
  font-weight: lighter;
  font-size: .9em; }

header {
  background: url(../img/headerbg.png) no-repeat 0 0;
  background-size: cover; }
  @media screen and (min-width: 690px) {
    header {
      margin: 0;
      padding: 20px; } }

.home:after {
  content: "";
  display: table;
  clear: both; }
.home .header_left {
  width: 25%;
  float: left; }
  .home .header_left img {
    width: 100%; }
.home p {
  color: #c1c1c1;
  margin: 0;
  padding: 0;
  font-size: .7em;
  text-align: center; }
.home .header_right {
  float: right;
  width: 20%; }
  .home .header_right a {
    margin: 3px 3px 0 0;
    display: block;
    border: 2px solid #6975ff;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #6975ff;
    padding: 15px; }
    @media screen and (min-width: 690px) {
      .home .header_right a:hover {
        color: white;
        background: #6975ff;
        border-radius: 10px; } }

.main_nav_container {
  clear: both;
  background: #6975ff;
  text-align: right;
  width: 100%;
  padding: 10px 0; }
  @media screen and (min-width: 690px) {
    .main_nav_container {
      padding: 20px 0; } }
  .main_nav_container a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "Avenir";
    padding-right: 50px; }

.content_wrapper {
  margin: 0 auto; }
  .content_wrapper h1 {
    color: #6975ff;
    font-family: "Goudy Old Style";
    text-align: left;
    font-size: 1.5em; }
  .content_wrapper .yellow {
    color: #fff98e; }

.info {
  width: 90%;
  margin: 0 auto; }

.info_right_align {
  width: 95%;
  margin: 0 auto; }
  .info_right_align section {
    width: 80%;
    margin: 0 auto; }
  .info_right_align .img_container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px; }
  .info_right_align img {
    width: 100%;
    margin: 0 auto; }

.signup {
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  .signup form {
    width: 90%;
    margin: 0 auto; }
  .signup input {
    width: 100%;
    padding: 2% 0; }

#submit_button {
  -webkit-appearance: none;
  margin-top: 15px;
  padding: 4% 0;
  background: none;
  border: 2px solid #6975ff;
  border-radius: 5px;
  color: #6975ff;
  font-family: "Avenir";
  font-size: 1em; }

@media screen and (min-width: 690px) {
  .info:after {
    content: "";
    display: table;
    clear: both; }

  .info_text {
    float: left;
    width: 45%; }

  .info_right_align {
    background: #494848;
    float: right;
    width: 50%;
    padding-top: 50px; } }
.blue_bg {
  background: #6975ff;
  width: 100%; }

.session_leaders {
  padding-top: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 5%; }
  .session_leaders h1 {
    width: 90%;
    margin: 5px auto; }
  .session_leaders p {
    width: 90%;
    margin: 0 auto; }

.speakers {
  width: 90%;
  margin: 0 auto; }
  .speakers .img_container {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 5%; }
    .speakers .img_container img {
      width: 100%; }
  .speakers h4, .speakers h5 {
    font-family: "Goudy Old Style";
    color: #6975ff;
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    .speakers h4 a, .speakers h5 a {
      text-decoration: none;
      color: #6975ff;
      font-size: 1em; }
  .speakers h5 {
    padding-bottom: 10px; }
  .speakers h4 {
    margin-top: 5%;
    font-size: 1.2em;
    padding-bottom: 5px; }
  .speakers p {
    font-size: .9em; }

.person {
  border-bottom: 2px solid #6975ff; }

.paul_roof {
  border-bottom: none; }

@media screen and (min-width: 690px) {
  .speakers:after {
    content: "";
    display: table;
    clear: both; }

  .speaker_left {
    float: left;
    width: 45%; }

  .speaker_right {
    float: right;
    width: 45%; }

  .person {
    border-bottom: none; } }
.special_performance {
  padding-top: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 5%; }
  .special_performance h1 {
    width: 90%;
    margin: 0 auto; }
  .special_performance p {
    width: 90%;
    margin: 0 auto; }
  .special_performance .img_container {
    width: 45%;
    margin: 0 auto; }
    .special_performance .img_container img {
      width: 100%; }
  .special_performance h4, .special_performance h5 {
    font-family: "Goudy Old Style";
    color: #fff98e;
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    .special_performance h4 h5, .special_performance h5 h5 {
      text-decoration: none;
      color: #fff98e;
      font-size: 1.1em; }
  .special_performance h4 {
    margin-top: 8%;
    font-size: 1.2em;
    margin-bottom: 1%; }
  .special_performance p {
    font-size: .9em;
    margin-top: 2%; }
  .special_performance:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 690px) {
    .special_performance .img_container {
      float: left;
      width: 25%;
      padding-left: 5%;
      margin-top: 10px; }
    .special_performance .moldover_about {
      float: right;
      width: 70%; }
      .special_performance .moldover_about h4, .special_performance .moldover_about h5 {
        text-align: left;
        margin-left: 5%; }
        .special_performance .moldover_about h4 h4, .special_performance .moldover_about h5 h4 {
          margin-top: 3%; } }

.schedule_home {
  width: 90%;
  margin: 0 auto; }
  .schedule_home:after {
    content: "";
    display: table;
    clear: both; }
  .schedule_home p {
    margin: 0 auto;
    margin-bottom: 3%;
    font-size: .9em; }
  .schedule_home .schedule_button {
    width: 55%;
    margin: 0 auto;
    margin-top: 3%; }
    .schedule_home .schedule_button a {
      display: block;
      border: 2px solid #6975ff;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      color: #6975ff;
      padding: 15px;
      margin: 0 auto; }
    @media screen and (min-width: 690px) {
      .schedule_home .schedule_button {
        width: 25%; }
        .schedule_home .schedule_button a:hover {
          color: white;
          background: #6975ff;
          border-radius: 10px; } }

.lt_gray_bg {
  background: #494848;
  padding: 1%;
  margin-top: 5%;
  width: 100%; }

.location:after {
  content: "";
  display: table;
  clear: both; }
.location .location_content_container {
  width: 90%;
  margin: 0 auto; }
.location .lists {
  width: 45%;
  margin: 0 auto;
  float: left; }
.location ul {
  list-style: none;
  padding: 10px 0;
  margin: 0 auto;
  font-size: .8em; }
  .location ul a {
    color: white; }
.location .img_container {
  float: right;
  width: 50%; }
  .location .img_container img {
    width: 100%; }

.register_now {
  width: 90%;
  margin: 0 auto; }
  .register_now .button {
    width: 55%;
    margin: 0 auto;
    margin-top: 3%; }
    @media screen and (min-width: 690px) {
      .register_now .button {
        width: 25%; } }
    .register_now .button a {
      display: block;
      border: 2px solid #6975ff;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      color: #6975ff;
      padding: 15px;
      margin: 0 auto; }
      @media screen and (min-width: 690px) {
        .register_now .button a:hover {
          color: white; } }

.sponsors {
  margin-bottom: 10px; }
  .sponsors:after {
    content: "";
    display: table;
    clear: both; }
  .sponsors h1 {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px; }

.sponsors_left {
  width: 45%;
  margin-left: 5%;
  float: left;
  margin-bottom: 10px; }
  .sponsors_left .img_container {
    width: 90%;
    margin: 0 auto; }
    .sponsors_left .img_container img {
      width: 100%; }

.sponsors_right {
  width: 45%;
  margin-right: 5%;
  float: right;
  margin-bottom: 10px; }
  .sponsors_right .img_container {
    width: 90%;
    margin: 0 auto; }
    .sponsors_right .img_container img {
      width: 100%; }
    .sponsors_right .img_container #girlsofcode_logo {
      width: 60%;
      margin: 0 20%; }

.sponsors {
  padding-bottom: 10px;
  margin-top: 15px;
  padding-top: 1px; }
  .sponsors p {
    clear: both;
    width: 90%;
    margin: 0 auto;
    font-size: .7em; }
    .sponsors p a {
      display: inline-block;
      color: white;
      text-decoration: underline; }

.presentation:after {
  content: "";
  display: table;
  clear: both; }
.presentation h1 {
  width: 90%;
  margin: 0 auto; }
.presentation .img_container {
  width: 49%;
  vertical-align: middle;
  display: inline-block; }
  .presentation .img_container a {
    display: block;
    padding: 10%; }
  .presentation .img_container img {
    width: 100%; }
  .presentation .img_container #tiy_logo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }

footer {
  margin-top: 15px;
  padding-top: 10px;
  width: 100%; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .footer_content {
    width: 90%;
    margin: 0 auto; }
  footer .footer_logo {
    float: left;
    width: 10%;
    margin-left: 3%; }
    footer .footer_logo a {
      display: block; }
    footer .footer_logo img {
      width: 80%; }
  footer .right_align:after {
    content: "";
    display: table;
    clear: both; }

.social_media {
  width: 10%;
  float: right;
  padding-top: 10px; }
  .social_media .img_container {
    width: 15%;
    display: inline-block;
    margin-left: 2%; }
    .social_media .img_container img {
      width: 100%; }
    .social_media .img_container a {
      display: block; }

.footer_links {
  width: 100%;
  text-align: center;
  padding-bottom: 10px; }
  .footer_links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: .7em; }

body:after {
  content: "";
  display: table;
  clear: both; }

.subpage {
  background: url(../img/headerbg.png) no-repeat 0 0;
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0; }
  .subpage:after {
    content: "";
    display: table;
    clear: both; }
  .subpage div {
    vertical-align: middle; }
  .subpage .sub_logo {
    width: 25%;
    float: left;
    text-align: center; }
    .subpage .sub_logo .logo {
      width: 100%; }
      .subpage .sub_logo .logo a {
        display: block; }
    .subpage .sub_logo .date {
      width: 100%; }
      .subpage .sub_logo .date p {
        font-size: .6em;
        margin-bottom: 0px;
        margin-top: 0;
        color: #c1c1c1; }
    .subpage .sub_logo img {
      width: 35%; }
  .subpage .sub_nav {
    float: right;
    width: 70%;
    text-align: right;
    margin-right: 3%; }
    .subpage .sub_nav a {
      display: inline-block;
      font-family: "Avenir";
      color: #6975ff;
      text-decoration: none;
      padding-right: 10px;
      margin-top: 10%;
      font-weight: lighter;
      font-size: .8em; }
      @media screen and (min-width: 690px) {
        .subpage .sub_nav a {
          font-size: 1em; } }

.page_heading {
  text-align: center; }
  .page_heading h1 {
    font-family: "Goudy Old Style";
    font-weight: lighter;
    padding: 0;
    margin: 0;
    color: #6975ff;
    margin-top: 10px; }
  .page_heading p {
    font-family: "Avenir";
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: .8em; }
    .page_heading p a {
      display: inline-block;
      color: white;
      font-weight: lighter; }

.tables_container {
  width: 90%;
  margin: 0 auto; }
  .tables_container table, .tables_container th, .tables_container td {
    border-collapse: collapse;
    border: 2px solid #6975ff;
    font-family: "Avenir";
    font-weight: lighter;
    font-size: .9em; }
  .tables_container th {
    background: #6975ff;
    text-align: left;
    padding-left: 10px; }
    .tables_container th h1 {
      font-family: "Goudy Old Style";
      font-weight: lighter;
      font-size: 1.7em;
      text-align: left;
      color: #fff98e;
      margin: 0;
      padding: 0; }
    .tables_container th p {
      padding: 0;
      margin: 0;
      font-size: .8em;
      font-weight: lighter; }

table {
  margin-top: 5%;
  background: #494848; }
  table .time {
    width: 20%;
    font-family: "Goudy Old Style";
    font-weight: 300;
    font-size: 1.2em;
    text-align: center; }
  table h3 {
    font-family: "Avenir";
    font-weight: 300;
    color: #fff98e; }
  table td {
    padding: 5px 2%; }

.jump_to {
  width: 20%;
  padding-top: 5px;
  margin: 0 auto;
  margin-right: 5%;
  margin-bottom: 10px; }
  .jump_to p {
    margin: 0;
    padding: 0;
    font-size: .8em; }
  .jump_to a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "Avenir";
    padding: 5px 10px;
    border: 1px solid #6975ff;
    border-radius: 5px; }
    @media screen and (min-width: 690px) {
      .jump_to a:hover {
        background: #6975ff;
        border-radius: 5px; } }

.register_form {
  width: 50%;
  margin: 0 auto; }

.your_info {
  width: 100%;
  margin: 10%; }

.your_info label {
  width: 100%; }
.your_info input {
  width: 100%;
  padding: 5px 0;
  -webkit-appearance: none;
  border: 1px solid #6975ff; }

.tix_register {
  text-align: right; }
  .tix_register h1 {
    font-family: "Goudy Old Style";
    font-weight: lighter;
    color: #fff98e; }
  .tix_register input {
    -webkit-appearance: none;
    padding: 10px 30px;
    background: none;
    border: 3px solid #6975ff;
    border-radius: 5px;
    color: #6975ff;
    font-family: "Avenir"; }

/*# sourceMappingURL=styles.css.map */
