$graybg: #232323;
$blue: #6975ff;
$yellow: #fff98e;
$ltgraybg: #494848;

$aFont: "Avenir";
$hFont: "Goudy Old Style";

$large: 690px;

@mixin clearfix {
  &:after { content: ""; display: table; clear: both; }
}

@mixin breakpoint($point) {
    @media screen and ('min-width:' + $point) {
        @content;
    }
}


html{
  margin:0;
  padding:0;
}

body{
    background-color:$graybg;
    margin:0;
    font-family: $aFont;
    color: white;
    font-weight: lighter;
    font-size: .9em;
}


header{
  background: url(../img/headerbg.png) no-repeat 0 0;
  background-size: cover;
  @include breakpoint($large){
    margin:0;
    padding:20px;
  }
}

.home{
  @include clearfix;  

  .header_left{
    width: 25%;
    float: left;

    img{
      width: 100%;
    }
  }

  p{
      color:#c1c1c1;
      margin:0;
      padding:0;
      font-size: .7em;
      text-align: center;
  }

  .header_right{
    float: right;
    width: 19%;

    a{
      margin: 3px 3px 0 0;
      display: block;
      border: 2px solid $blue;
      border-radius:10px;
      text-align: center;
      text-decoration: none;
      color: $blue;
      padding:15px;
      font-family: $aFont;

      @include breakpoint($large){
        &:hover{
          color:white;
          background:$blue;
          border-radius:10px;
        }
      }
    }
  }
}

.main_nav_container{
  clear: both;
  background: $blue;
  text-align: right;
  width: 100%;
  padding: 10px 0;

  @include breakpoint($large){
    padding:20px 0;
  }


  a{
    display: inline-block;
    text-decoration: none;
    color:white;
    // font-weight: 500;
    font-family: $aFont;
    padding-right:50px;

    @include breakpoint ($large){
      &:hover{
        color:$ltgraybg;
        font-weight: lighter;
      }
    }

  }
}

.content_wrapper{

  margin: 0 auto;

  h1{
    color: $blue;
    font-family: $hFont;
    text-align: left;
    font-size: 1.5em;
  }

  .yellow{
    color:$yellow;
  }
}

.info{
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  @include clearfix;

  .info_text{
    @include breakpoint($large){
      float: left;
      width: 60%;
    }
  }

  .info_right_align{
    width: 95%;
    margin: 0 auto;

    section{
      width: 80%;
      margin: 0 auto;
    }

    .img_container{
      width: 70%;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    img{
      width: 100%;
      margin: 0 auto;
    }
    
    @include breakpoint($large){
      float: right;
      width: 30%;
      background: $ltgraybg;
    }

  }
  .signup{
    width: 70%;
    margin: 0 auto;
    text-align: center;

    form{
      width: 90%;
      margin: 0 auto;
    }
    input{
      width: 100%;
      padding:2% 0;
    }
  }

  #submit_button{
    -webkit-appearance: none;
    margin-top:15px;
    padding: 4% 0;
    background: none;
    border: 2px solid $blue;
    border-radius:5px;
    color:$blue;
    font-family: $aFont;
    font-size: 1em;
  }
}

// @include breakpoint($large){
//   .info{
//     @include clearfix;
//   }

//   .info_text{
//     float: left;
//     width: 45%;
//   }

//   .info_right_align{
//     background: $ltgraybg;
//     float: right;
//     width: 50%;
//     padding-top:50px;
//   }
// }

.blue_bg{
  background:$blue;
  width: 100%;
}

.session_leaders{
  padding-top:2%;
  margin-top:5%;
  margin-bottom:5%;
  padding-bottom:5%;

  h1{
    width: 90%; 
    margin: 5px auto;

  }

  p{
    width: 90%;
    margin: 0 auto;
  }
}


.speakers{
  width: 90%;
  margin: 0 auto;

  .img_container{
    width: 45%;
    margin: 0 auto;
    margin-bottom:5%;

    img{
      width: 100%;
     }
   }

  h4, h5{
    font-family: $hFont;
    color:$blue;
    padding:0;
    margin: 0 auto;
    text-align: center;

    a{
      text-decoration: none;
      color:$blue;
      font-size: 1em;
    }
  }

  h5{
    padding-bottom:10px;
  }
  h4{
    margin-top:5%;
    font-size: 1.2em;
    padding-bottom:5px;
  }
  p{
    font-size: .9em;
  }
}

.person{
  border-bottom: 2px solid $blue;
}
.paul_roof{
  border-bottom:none;
}

@include breakpoint($large){
  .speakers{
    @include clearfix;
  }

  .speaker_left{
    float: left;
    width: 45%;
  }

  .speaker_right{
    float: right;
    width: 45%;
  }

  .person{
    border-bottom:none;
  }



}




.special_performance{
  padding-top:2%;
  margin-top:5%;
  margin-bottom:5%;
  padding-bottom:5%;
  @include clearfix;

  h1{
    width: 90%; 
    margin: 0 auto;
  }

  p{
    width: 90%;
    margin: 0 auto;
  }

  .img_container{
    width: 45%;
    margin: 0 auto;

    img{
      width: 100%;
    }

    @include breakpoint($large){

      float: left;
      width: 20%;
      padding-left:7%;
      margin-top: 10px;
      
    }
  }

  h4, h5{
    font-family: $hFont;
    color:$yellow;
    padding:0;
    margin: 0 auto;
    text-align: center;

    h5{
      text-decoration: none;
      color:$yellow;
      font-size: 1.1em;
    }

    @include breakpoint($large){
   
      text-align: left;
      width: 90%;
      margin: 0 auto;

        h4{
          margin-top: 10px;
        }
      }
    }
  }
  h4{
    margin-top:8%;
    font-size: 1.2em;
    margin-bottom: 1%;
    @include breakpoint($large){
      margin-top: 10px;
    }
  }
  p{
    font-size: .9em;
    margin-top: 2%;
  }


  @include breakpoint($large){

    .moldover_about{
      float: right;
      width: 70%; 
      margin-top: 10px;  
    }
  }



.schedule_home{
  width: 90%;
  margin: 0 auto;
  @include clearfix;

  p{
    margin: 0 auto;
    margin-bottom: 3%;
    font-size: .9em;
  }

  .schedule_button{
    width: 55%;
    margin: 0 auto;
    margin-top: 3%;

    a{
      display: block;
      border: 2px solid $blue;
      border-radius:10px;
      text-align: center;
      text-decoration: none;
      color: $blue;
      padding:15px;
      margin: 0 auto; 
    }
    
    @include breakpoint($large){
      width: 20%;

      a{ &:hover{
          color:white;
          background:$blue;
          border-radius:10px;
        }
      }

    }
  }
}

.lt_gray_bg{
  background: $ltgraybg;
  // padding:1%;
  margin-top: 5%;
  width: 100%;
}

.location{

  @include clearfix;

  .location_content_container{
    width: 90%;
    margin: 0 auto;
    @include clearfix;
  }

  .location_content{
    width:45%;
    margin: 0 auto;
    float: left;
  }

  ul{
    list-style: none;
    padding:10px 0;
    margin: 0 auto;
    font-size: .8em;

    a{
      color:white;
    }
  }

  .img_container{
    float: right;
    width: 50%;
    padding:10px 0;

    img{
      width: 100%;
      margin-top: 10px;
    }

    @include breakpoint($large){
      width: 35%;

    }
  }
}

.register_now{
  width: 90%;
  margin: 0 auto;

  .button{
    width: 55%;
    margin: 0 auto;
    margin-top: 3%;

    @include breakpoint($large){
      width: 20%;
    }
      
    a{
      display: block;
      border: 2px solid $blue;
      border-radius:10px;
      text-align: center;
      text-decoration: none;
      color: $blue;
      padding:15px;
      margin: 0 auto;

      @include breakpoint($large){
         &:hover{
          color:white;
        }
      }
    }
  }
}

.sponsors{
  @include clearfix;
  margin-bottom: 10px;

  h1{
    width: 90%; 
    margin: 0 auto;
    margin-top: 10px;
  }
}
.sponsors_left{
  width: 45%;
  margin-left: 5%;
  float: left;
  margin-bottom: 10px;

  .img_container{
    width: 90%;
    margin: 0 auto;

    img{
      width: 100%;
    }

    @include breakpoint($large){
      width: 75%;
    }
  }
}

.sponsors_right{
  width: 45%;
  margin-right: 5%;
  float: right;
  margin-bottom: 10px;

  .img_container{
    width: 90%;
    margin: 0 auto;

    img{
      width: 100%;
    }

    @include breakpoint($large){
      width: 75%;
    }

    #girlsofcode_logo{
      width: 60%;
      margin: 0 20%;
    }

  }
}

.sponsors{
  padding-bottom:10px;
  margin-top:15px;
  padding-top:1px;
  p{
    clear:both;
    width: 90%;
    margin: 0 auto;
    font-size: .7em;

    a{
      display: inline-block;
      color:white;
      text-decoration: underline;
    }
    
  }
}

.presentation{
  @include clearfix;
  h1{
    width: 90%; 
    margin: 0 auto;
    padding-top:10px;
  }
  .img_container{
    width: 40%;
    margin: 0 auto; 
    margin-left: 5%;
    vertical-align: middle;
    display: inline-block;

    a{
      display: block;
      padding:10%;
    }

    img{
      width: 100%;
      
    }

    #tiy_logo{
      width: 80%;
      margin-left:10%;
      margin-right: 10%;
    }
  }
}

footer{
  @include clearfix;
  // margin: 0 auto;
  margin-top: 15px;
  padding-top:10px;
  width: 100%;

  .footer_content{
    width: 95%;
    margin: 0 auto;
  }

  .footer_logo{
    float: left;
    width: 7%;
    // margin-left:3%;
   

    a{
      display: block;
    }
    img{
      width: 70%;
    }
  }

  .right_align{
    @include clearfix;
  }
}

.social_media{
  width: 10%;
  float: right;
  padding-top:10px;
  

  .img_container{
    width: 15%;
    display: inline-block;
    margin-left:2%;

    img{
      width: 100%;
    }

    a{
      display: block;

    }

  }

  // .twitter{
  //   float: left;
  //   margin-left: 19%;
  // }

  // .facebook{
  //   float: right;
  //   margin-right: 19%;
  // }

}

.footer_links{
  width: 100%;
  text-align: center;
  a{
    display: inline-block;
    text-decoration: none;
    color:white;
    text-align: center;
    font-size: .7em;
  }
  padding-bottom:10px;
}




//SCHEDULE

body{
  @include clearfix;
}

.subpage{
  background: url(../img/headerbg.png) no-repeat 0 0;
  background-size: cover;
  padding-bottom:10px;
  padding-top:10px;
  margin-bottom: 0;
  @include clearfix;

  div{
    vertical-align: middle;
  }

  .sub_logo{
    width: 25%;
    float: left;
    text-align: center;
    .logo{
      width: 100%;
      a{
        display: block;
      }
    }

    .date{
      width: 100%;

      p{
        font-size: .6em;
        // text-align: center;
        margin-bottom: 0px;
        margin-top: 0;
        color:#c1c1c1;
      }
    }

    img{
      width: 35%;
      // margin-left: 25%;
      // margin-right: 25%;
    }
  }

  .sub_nav{
    float:right;
    width: 70%;
    text-align: right;
    margin-right: 3%;
    a{
      display: inline-block;
      font-family: $aFont;
      color:$blue;
      text-decoration: none;
      padding-right:10px;
      margin-top: 10%;
      font-weight: lighter;
      font-size: .8em;


      @include breakpoint($large){
        font-size: 1em;
        
      }
    }


  }


}

.page_heading{
  text-align: center;

  h1{
    font-family: $hFont;
    font-weight: lighter;
    padding:0;
    margin: 0;
    color:$blue;
    margin-top: 10px;
  }

  p{
    font-family: $aFont;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: .8em;

    a{
      display: inline-block;
      color:white;
      font-weight: lighter;
      
    }
  }
}

.tables_container{
  width: 90%;
  margin: 0 auto;

  table, th, td{
    border-collapse: collapse;
    border: 2px solid $blue;
    font-family: $aFont;
    font-weight: lighter;
    font-size: .9em;
  }

  th{
    background: $blue;
    text-align: left;
    padding-left:10px;


    h1{
      font-family: $hFont;
      font-weight: lighter;
      font-size: 1.7em;
      text-align: left;
      color:$yellow;
      margin: 0;
      padding:0;
    }
    p{
      padding:0;
      margin: 0;
      font-size: .8em;
      font-weight: lighter;
    }
  }
}

table{
  margin-top: 5%;
  background: $ltgraybg;

  .time{
    width: 20%;
    font-family: $hFont;
    font-weight:300;
    font-size: 1.2em;
    text-align: center;
    
    // @include breakpoint ($large){
    //   font-size:1.4em;
    // }

  }

  h3{
    font-family: $aFont;
    font-weight: 300;
    color:$yellow;
  }

  td{
    padding:5px 2%;
  }
}



.jump_to{
  width: 20%;
  padding-top: 5px;
  margin: 0 auto;
  margin-right:5%;
  // float: right;
  // background:$ltgraybg;
  margin-bottom: 10px;

  p{
    margin:0;
    padding:0;
    font-size: .8em;

  }

  a{
    
    display: inline-block;
    text-decoration: none;
    color:white;
    font-family: $aFont;
    padding: 5px 10px;
    border: 1px solid $blue;
    border-radius:5px;
    @include breakpoint($large){
        &:hover{
          background:$blue;
          border-radius:5px;
        }
        
      }


    
 
  }

}



//REGISTRATION

.register_form{
  width: 50%;
  margin: 0 auto;
}

.your_info{
  width: 100%;
  margin: 10%;
}

.your_info{
  label{
    width: 100%;
  }

  input{
    width: 100%;
    padding: 5px 0;
    -webkit-appearance: none;
    border: 1px solid $blue;
  }
}

.tix_register{
  text-align: right;
  h1{
    font-family: $hFont;
    font-weight: lighter;
    color:$yellow;
  }
  input{
    -webkit-appearance: none;
    padding: 10px 30px;
    background:none;
    border: 3px solid $blue;
    border-radius: 5px;
    color:$blue;
    font-family: $aFont;

  }
}




